/* Estilo global para cards */
.card {
  background-color: #160a0a;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 350px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);

}



.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Estilo para h2 */
.h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Estilo para body1 */
.body1 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estilo para body2 */
.body2 {
  /* Estilo para body2 */
}

.card:hover .card-image {
  animation: rotate360 0.3s linear;
}


/* Animação de rotação de 360 graus */
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Aplicar animação à imagem */
/* .card-image {
  animation: rotate360 2s linear infinite;
} */