.container {
  display: flex;
}

.card-datail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px;
  height: 550px;
  width: 40vw;
  transition: transform 0.3s;

}

.card-datail:hover img {
  animation: rotate360 0.3s linear;
  scale: 1;
}


.card-datail>div {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-datail img {
  width: 200px;
  height: 200px;
  padding-left: 20%;
  padding-bottom: 15%;
  object-fit: cover;

}

.text {
  display: flex;
  text-align: left;
  gap: 5px;
  padding-bottom: 5px;
}

.color-text {
  gap: 10px;
  color: darkgrey;
}

.graphic {
  width: 50vw;
}

/* .card .coin-info {
  flex: 1;
} */
@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

  }

  .card-datail {
    width: 80vw;
    max-height: 500px;


  }

  .text {
    font-size: 10px;
  }

  .graphic {
    width: 80vw;
    margin-bottom: 20px;
  }


}

@media screen and (max-width: 716px) {
  .card-datail {
    padding: 10px;
    margin-left: 0;



  }

  .card-datail img {
    width: 150px;
    height: 150px;

    object-fit: cover;

  }
}