@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  background-color: #14161a;
}

.container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(240, 240, 240);

}

a:hover {
  scale: 1.1;
}